$accent-color: #51B37B;

$link-color: $accent-color;
$masthead-link-color: $accent-color;
$masthead-link-color-hover: $accent-color;
$navicon-link-color-hover: $accent-color;
$border-color: mix(#fff, $accent-color, 85%);

@import "minimal-mistakes/skins/dark";
@import "minimal-mistakes";
